@use "./index" as *;

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

body {
	font-family: var(--font-main);
	background-color: var(--bg);
	color: var(--text-strong);
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

a {
	text-decoration: none;
	color: inherit;
}

button {
	all: unset;
	cursor: pointer;
}
