@use "../../../styles/index" as *;

.outercontainer {
	@include grid-layout();
	background-color: var(--fill);
	margin-top: var(--space-xl);
	box-shadow: var(--shadow-small);
}

.innercontainer {
	@include sub-grid-12();
}
.textarea {
	display: flex;
	flex-direction: column;
	grid-column: 2 / 6;
	padding-top: var(--space-xxl);
	padding-bottom: var(--space-xxl);
	@media (max-width: $breakpoint-tablet) {
		grid-column: 1/5;
		padding-bottom: var(--space-s);
	}
}

.title {
	font-size: var(--font-xxl);
}

.imagearea {
	grid-column: 9 / 11;
	max-width: 300px;
	min-width: 170px;
	padding-top: var(--space-xl);
	height: 100%;
	@media (max-width: $breakpoint-tablet) {
		grid-column: 2 / 4;
		grid-row: 2;
		justify-self: center;
		width: 100%;
		max-width: 170px;
		aspect-ratio: 3 /4;
		padding-top: var(--space-s);
	}
}

.image {
	width: 100%;
	height: 100%;
	background-color: var(--bg);
	border-radius: var(--radius-md) var(--radius-md) 0 0;
	border: 8px solid black;
	border-bottom: none;
}
