@use "../../../styles/index" as *;

.outercontainer {
	@include grid-layout();
	margin-top: var(--space-s);
}

.topbarcontainer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: var(--space-xxs) var(--space-xs) var(--space-xxs) var(--space-xs);
	box-shadow: var(--shadow-small);
	border-radius: var(--radius-sm);
}

.logo {
	font-family: var(--font-logo);
	color: var(--primary);
	font-size: var(--font-l);
}
