@use "../../../../styles/index" as *;

.outercontainer {
	@include grid-layout();

	.eventscontainer {
		padding: var(--space-m);
		display: flex;
		flex-wrap: wrap;
		gap: var(--space-m);
		min-height: 100vh;
	}

	.footer {
		height: var(--space-l);
		background-color: var(--primary);
		margin-top: var(--space-l);
		@include edge-to-edge();
	}
}
