@use "../../../styles/index" as *;

.imagecontainer {
	background-image: url("/user.png");
	background-size: cover;
	background-position: center;
	border-radius: 50%;
	width: var(--space-l-plus);
	height: var(--space-l-plus);
	cursor: pointer;
}

.avatarimage {
	width: var(--space-l-plus);
	height: var(--space-l-plus);
	border-radius: 50%;
}
