@use "../../../styles/index" as *;

.outercontainer {
	@include grid-layout();
	margin-top: var(--space-xl);
}

.innercontainer {
	@include sub-grid-12();
	align-items: center;
	@media (max-width: $breakpoint-tablet) {
		row-gap: var(--space-m);
	}
}

.textarea {
	grid-column: 1/5;
	display: flex;
	flex-direction: column;
	gap: var(--space-xs);
	@media (max-width: $breakpoint-tablet) {
		grid-row: 1;
		grid-column: 1/-1;
	}
}

.imagearea {
	grid-column: 8 / 12;
	aspect-ratio: 16 / 8;
	border-radius: var(--radius-md);
	border: var(--border-thin) var(--stroke-weak) solid;
	overflow: hidden;
	box-shadow: var(--shadow-small);

	@media (max-width: $breakpoint-tablet) {
		grid-row: 2;
		grid-column: 1/-1;
	}
}

.img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
	border-radius: var(--radius-sm);
}

.getstartedbutton {
	@include primary-button();
	margin-top: var(--space-m);
}
