@use "../../../styles/index" as *;

.herocontainer {
	@include grid-layout();
	padding-top: var(--space-m);
}

.innerherocontainer {
	@include sub-grid-12();
	container-type: inline-size;
}

.textarea {
	grid-column: 2 / span 5;
	padding-top: var(--space-xxl);
	display: flex;
	flex-direction: column;
	gap: var(--space-s);
	h1 {
		font-size: var(--font-hero);
		line-height: 1.2;
	}
	@media (max-width: $breakpoint-laptop) {
		grid-column: 2 / span 6;
	}
	@media (max-width: $breakpoint-tablet) {
		grid-column: 1/5;
		padding-top: var(--space-m);
	}
}

.imagearea {
	position: relative;
	grid-column: 8 / -1;
	width: calc(100% + (100dvw - 100cqw) / 2);
	height: 350px;

	@media (max-width: $breakpoint-tablet) {
		grid-column: 1/-1;
		grid-row: 1;
		height: 250px;
	}
	@media (min-width: $breakpoint-ultrawide) {
		width: auto;
	}
}

.heroimage {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: var(--radius-md) 0 0 var(--radius-md);
}

.getstartedbutton {
	@include primary-button();
}
